.card {
    width: 317px;
    margin: 2rem auto;
    background: #1a1b21;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0,0,0,.3);
}
.card--img {
    width: 317px;
    height: 317px;
    overflow: hidden;
    border-radius: 10px 10px 0 0;
    position: relative;
}
.card--img img {
    width: 210%;
    position: absolute;
    top: -41%;
    left: -219px;
}

.card--content {
    background: #1a1b21;
    font-size: 10px;
    line-height: 1.4;
    padding: 0 36px;
}

.card--content h2 {
    font-size: 16px;
    margin-bottom: 5px;
}

.card--name {
    font-size: 25px;
    margin: 24px 0 0;
    text-align: center;
}

.card--role {
    text-align: center;
    font-size: 12px;
    color: #f3bf99;
    margin-bottom:8px;
}

.card--website {
    text-align: center;
}
.card--website a:link {
    color: #fff;
    text-decoration: none;
}

.card--contact {
    list-style: none;
    padding: 0;
    margin: 32px 0 32px;
    display: flex;
    justify-content: space-between;
}
.card--contact li {
    margin: 0;
    padding: 0;
}
.card--contact a {
    display: inline-block;
    width: 105px;
    padding: 9px 5px;
    border-radius: 5px;
    font-size: 14px;
    text-decoration: none;
    text-align: center;
    font-weight: 500;
}

.contact--email {
    color: #374151;
    background: #fff;
}

.contact--linkedin {
    color: #fff;
    background: #5093E2
}


.card--footer {
    background: #161619;
    padding: 16px;
    border-radius: 0 0 10px 10px;
    margin-top: 40px;
}

.card--footer ul {
    margin: 0; padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}

.card--footer a {
    color: #918E9B;
    font-size: 34px;
}