.card {
    width: 317px;
}
.card--img {
    width: 317px;
    height: 317px;
    overflow: hidden;
    border-radius: 10px 10px 0 0;
    position: relative;
}
.card--img img {
    width: 250%;
    position: absolute;
    top: -50%;
    left: -270px;
}
.card--content {
    background: #1a1b21;
    padding: 24px 36px;
    font-size: 10px;
    line-height: 1.4
}



.card--content h2 {
    font-size: 16px;
}

.card--name {
    font-size: 25px;
    margin: 0;
    text-align: center;
}

.card--role {
    text-align: center;
    font-size: 12px;
    color: #f3bf99;
}

.card--website {
    text-align: center;
}
.card--website a:link {
    color: #fff;
    text-decoration: none;
}

.card--contact {}

.contact--email {}

.contact--linkedin {}


.card--footer {
    background: #161619;
    padding: 16px;
    border-radius: 0 0 10px 10px;
}